body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.height_product{
    height: inherit;
}

.custom_cart{
    position: relative;
    top: 7px;
    left: -12px;
    background: black;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 38px;
    font-size: 15px;
    height: 23px;
}

